:root {
    --colorTextos: black;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: rgba(0, 60, 255, 0.468);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*
nav
*/
.show{
    display: flex !important;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
}

nav ul li > a {
    display: block;
    position: relative;
    padding: 10px 15px 10px 15px;
    text-decoration: none;

    color: white;
}

nav ul li .link::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: white;
}

nav ul li .link:hover::before {
  transform: scaleX(1);  
}

nav .more {
    display: none;
}

nav .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 200px;
    margin-top: 48px;

    background-color: white;
}

nav .menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav .menu a:hover {
    background-color: black;
    color: white;
}

nav .mobile {
    display: none;
    width: 100%;
}

nav .mobile .header {
    background-color: rgb(21, 86, 133);
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
}

nav .mobile .header a {
    color: white;
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
}

nav .mobile .header #bmenu {
    border: none;
    background-color: transparent;
    cursor: pointer;
  
    color: white;
}

nav .mobile .links {
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 200;

    background-color: rgb(21, 86, 133);
}
nav .mobile .links a {
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    color: white;
}

nav .mobile .links a:hover {
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    color: black;
    background-color: white;
}
/*
header
*/

header{
    background-color: rgb(21, 86, 133);
    padding: 1rem .5rem;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
}
/*
Main
*/
main{
    background-image: url(../assets/bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 45rem;
    padding-bottom: 2rem;
    padding-left: 25rem;
    padding-right: 25rem;
}
.Top{
    padding-top: 160rem;
    padding-bottom: 2rem;
    text-align: center;
}
h1{
    text-size-adjust: 24px;
}
h2{
    text-align: center;
}
/*
footer
*/
.footer {
    margin-top: auto;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }
  
  .footer__big {
    padding-top: 1px;
    margin: 1rem auto 1rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__text h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
  }
  .footer__company p,
  .footer__about p {
    margin: 0 10px 0 30px;
    color: white;
    font-weight: bold;

  }
  
  .footer__links {
    list-style: none;
    margin: 10px 20px 10px 20px;
    font-size: 0.9rem;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 3rem;
  }
  
  .footer__link a {
    transition: color 0.2s ease-in;
  }
  
  .footer__link a:hover {
    color: white;
  }
  
  .footer__little {
  
    padding: bottom 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
@media screen and (max-width: 1226px) {
    nav .link-hide {
        display: none;
    }
    nav .more {
        display: flex;
    }
    header{
        background-color: rgb(21, 86, 133);
        padding: 1rem .5rem;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
    }
    .Top{
        padding-top: auto;
        padding-bottom: 2rem;
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    .Top{
        padding-top: 160rem;
        padding-bottom: 2rem;
    }
    p{
        text-overflow: clip;
        text-align: justify;
    }
}
@media screen and (max-width: 736px) {
        nav{
            width: 100%;
            padding: 0;
        }
        nav ul {
            display: none;
        }
    
        nav .mobile{
            display: block;
        }
        header{
            background-color: rgb(21, 86, 133);
            padding: 1rem .5rem;
            position: absolute;
            z-index: 1;
            left: 0;
             top: 0;
            width: 100%;
        }
        .Top{
            padding-top: 155rem;
            padding-bottom: 2rem;
            width: 110%;
        }
        p{
            text-overflow: clip;
            text-align: justify;
        }
}
@media screen and (max-width:700px) {
    .Top{
        padding-top: 156rem;
        padding-bottom: 2rem;
        width: 120%;
    }
    p{
        text-overflow: clip;
        text-align: justify;
    }
}
@media screen and (max-width: 677px) {
    nav{
        width: 100%;
        padding: 0;
    }
    nav ul {
        display: none;
    }

    nav .mobile{
        display: block;
    }
    header{
        background-color: rgb(21, 86, 133);
        padding: 1rem .5rem;
        position: absolute;
        z-index: 1;
        left: 0;
         top: 0;
        width: 100%;
    }
    .Top{
        padding-top: 157rem;
        padding-bottom: 2rem;
        width: 125%;
    }
    p{
        text-overflow: clip;
        text-align: justify;
    }
}

@media screen and (max-width:639px) {
    .Top{
        padding-top: 176rem;
        padding-bottom: 2rem;
        width: 120%;
    }
    p{
        text-overflow: clip;
        text-align: justify;
    }
    main{
        padding-top: 47rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}